
.columns{
  grid-template-columns: auto;
  justify-content: center;
}
.box{
  height: 200px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}
.box h2{
  color: yellowgreen;
  font-size: 2rem;
  margin-bottom: 40px;
}
.box p{
  color: white;
  font-size: 1.1rem;
}

.name{
  padding: 70px;
  padding-left: 100px;
  border: 3px black solid;
  border-radius: 10px;
  background-color: rgba(101, 182, 35, 0.1);
  position: relative; left: -20px; top: -15px;
  visibility: hidden;

}
.name h2{
  font-size: 2rem;
  position: relative; left: 1px;
}
.name p{
  font-size: 1.2rem;
  position: relative; left: 1px;

}

.name-invs{
  visibility: visible;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px black solid;
  border-radius: 10px;
  background-color: rgba(101, 182, 35, 0.1);
  position: relative; left: 10px; top: -1000px;
}

.name-invs p{
  position: relative; left: -10px;
}



.name-invs h2{
  position: relative; left: -10px;
}
