.navbar ul {
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  font-size: 3rem;
}

.gallery img {
  width: 270px;
  height: 360px;
}

.ommig {
  flex-direction: column;
}

.ommig h2 {
  text-align: center;
}

.ommig img {
  width: 200px;
  height: 150px;
  padding: 0px 15px;
}

#meddelande {
  width: 80%; 
  max-width: 400px;
  height: 200px;
}

.box {
  height: 150px;
  width: 80%; 
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.box h2 {
  color: yellowgreen;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.box p {
  color: white;
  font-size: 0.8rem;
}

#name p {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }

  .gallery img {
    width: 200px;
    height: 270px;
  }

  .ommig img {
    width: 150px;
    height: 100px;
    padding: 0px 10px;
  }

  #meddelande,
  .box {
    width: 90%;
    max-width: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }

  .gallery img {
    width: 150px;
    height: 200px;
  }

  .ommig img {
    width: 100px;
    height: 80px;
    padding: 0px 5px;
  }

  #meddelande,
  .box {
    width: 100%;
    max-width: none;
  }
}
