@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO_1.001.ttf);
}

body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5% 95%;
  background-color: #504949;
}

#navbartop{
  padding: 3%;
  margin-left: 8%;
}

.side-bar{
 position: sticky;
 top:0;
 display:flex;
 flex-direction: column;
 padding-bottom: 100vh;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: black;
  margin-left: 10em;
  margin-right: 10em;
  padding: 3em;
}

h2, h1, p{
  color:white
}

.side-bar{
  background-color: black ;
}

.headerforarticle{
  margin-right: 93%;
  font-family: VCR;
}