*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO_1.001.ttf);
}

@font-face{
  font-family: RUBIK;
  src: url(Rubik-Italic-VariableFont_wght.ttf);
}

@font-face{
  font-family:RUBIKS;
  src: url(Rubik-VariableFont_wght.ttf)
}

body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5% 95%;
  background-color: #504949;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1.5em;
  margin-bottom:10%;
  margin-left:5%;
  margin-right:5%;
}


.side-bar{
  background-color: black ;
}

.headerforarticle{
  margin-right:auto;
  font-family: VCR;
}

h1{
  margin:1.5%;
  font-family: VCR;
  color:#E6E6E6;
  font-size: 3vw;
  font-weight: normal;
}

h2{
  font-size: 20px;
  margin:1.5%;
  font-family:RUBIKS;
  color: #E6E6E6;
  font-style:normal;
}

h3{
  color:#E6E6E6;
  font-size: 15px;
  font-family:RUBIKS;
  font-weight: normal;
  margin-left:1.5%;
  margin-bottom:1.5%;
}

li, ul{
  font-family: VCR;
  color:#E6E6E6;

}

p{
  font-family: RUBIKS;
  color:#E6E6E6;
  margin:1.5%;
}

#borderforheader{
  background-color:#121212;
  padding-left:21%;
  padding-right:21%
}

#earlyaccess{
  background-color:#121212;
  padding-left:39%;
  padding-right:39%;
  font-weight: lighter;
  color:#E6E6E6;
}

#container {
  display: flex;
  align-items: center;
}

#container p {
  margin-left: 1em;
}

a {
  color:#e81a3f;
  text-decoration: none;
  font-size:110%;
  transition:color .3s;
}

a:hover{
  text-decoration: underline;
}

footer{
background-color: black;
padding: 20px;
text-align: center;
left: 0;
bottom: 0;

}
.baby{
  margin-top:4%;
  margin-left:5%;
  margin-bottom: 2.5%;
}

.plsberesponsive{
  width: 100%;
  height: auto;
}

.side-bar{
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 5em;
  padding-bottom: 100vh;
}


#homebutton{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:5em;
  width: 100%;
  transition: 1s;
}

#homebutton:hover{
  transform:scale(1.1);
}

#enemiesarticle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  background-color: black;
  padding: 1.5em;
}

.page-content{
  margin-right:auto;
}

.listsareannoying{
  font-family: RUBIKS;
  margin-right:10%

}

.tbody{
  color:#E6E6E6;
  background-color: #E6E6E6;
}