* {
  margin: 0;
  padding: 0;
}

html {
  color: #E6E6E6;
}

@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO_1.001.ttf);
}

@font-face {
  font-family: RUBIK;
  src: url(Rubik-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: RUBIKS;
  src: url(Rubik-VariableFont_wght.ttf)
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5% 95%;
  background-color: #504949;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1.5em;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.side-bar {
  background-color: black;
}

.headerforarticle {
  margin-right: auto;
  font-family: VCR;
}

h1 {
  margin: 1.5%;
  font-family: VCR;
  font-size: 3vw;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  margin: 1.5%;
  font-family: RUBIKS;
  color: #E6E6E6;
  font-style: normal;
}

h3 {
  font-size: 15px;
  font-family: RUBIKS;
  font-weight: normal;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
}

.unlisted {
  margin-right: auto;
  margin-left: 3%;
}

li, ul {
  font-family: RUBIKS;
}

.listforenemies {
  list-style-position: outside;
  margin-left: 10%;
}

p {
  font-family: RUBIKS;
  margin: 1.5%;
}

#borderforheader {
  background-color: #121212;
  padding-left: 21%;
  padding-right: 21%;
}

#earlyaccess {
  padding-left: 39%;
  padding-right: 39%;
}

#container {
  display: flex;
  align-items: center;
}

#container p {
  margin-left: 1em;
}

a {
  color: #e81a3f;
  text-decoration: none;
  font-size: 110%;
  transition: color .3s;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: black;
  padding: 1%;
  text-align: center;
}

.baby {
  margin-top: 4%;
  margin-left: 5%;
  margin-bottom: 2.5%;
}

.plsberesponsive {
  width: 100%;
  height: auto;
}

.side-bar {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 5em;
  padding-bottom: 100vh;
}

.side-bar ul {
  list-style: none;
}

.side-bar li {
  margin-bottom: 2em;
}

#homebutton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5em;
  width: 100%;
  transition: 1s;
}

#homebutton:hover {
  transform: scale(1.1);
}

#enemiesarticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1.5em;
}

.page-content {
  margin-right: auto;
}

table {
  border-spacing: 0;
  width: 100%;
}

.spanforlevels {
  font-family: VCR;
}

span {
  color: #e81a3f;
  font-family: RUBIKS;
  font-weight: normal;
}

th, td {
  border: 1px solid #2C2C2C;
  background-color: #161616;
  padding: 10px;
  font-family: RUBIKS;
}

.earlyaccess-husk {
  background-color: #121212;
  font-weight: lighter;
  padding: 0.25rem 45%;
  margin: 1.5rem auto;
  width: 11%;
}

.levelsborders {
  font-family: VCR;
  background-color: #121212;
  font-weight: lighter;
  padding: 0.25rem 45%;
  margin: 1.5rem auto;
}

.listareannoying {
  padding-right: 20%;
}


#progress-bar-container {
  width: 100%;
  background-color: #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#progress-bar {
  width: 0;
  height: 5px;
  background-color: #e81a3f;
}
