nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

body {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  padding: 1em 1em;
}

a:hover {
  background-color: #000000;
  color: rgb(193, 193, 193);
}

h1 {
  text-align: center;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vh;
}

p,
ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3vh;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: #fbf8f8;
  margin-left: 10em;
  margin-right: 10em;
  padding: 3em;
}


table{
  border-collapse:collapse;
}
th, td{
  border:1px solid black; 
  padding:5px;
}